.App-header {
    background-color: white;
    height: 5rem;
    position: relative;
    align-items: center;
}

.header-title {
    float: left;
    color: #0F1F3D;
    margin-top: -6px;
}

.account {
    alignment: right;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.red {
    color: red;
}

.black {
    color: black;
}

.box {
    width: 100%;
    /*height: 50px;*/
    margin: 20px 45px;
}

.list {
    margin-left: 150px;
}

.list li {
    display: block;
    float: left;
    margin-right: 35px;
}

.list li a:hover {
    text-decoration: block;
}

hr {
    clear: both;

}