.App-header {
    background-color: white;
    height: 5rem;
    position: relative;
    align-items: center;
}

.header-title {
    alignment: left;
    color: #4a78da;
}

.account {
    alignment: right;
}

.red {
    color: red;
}

.black {
    color: black;
}